html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, Edge */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}
